body {
    font-family: Arial, sans-serif;
    margin: 10px;
    width: 450px;
    min-height: 350px;
    box-sizing: border-box
}

h3 {
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

h3 span:first-child {
    margin-right: 10px
}

h3 span:last-child {
    font-size: 14px;
    color: rgb(88, 86, 86);
    text-align: right;
    flex-grow: 1
}

textarea,
select,
input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box
}

textarea {
    height: 50px;
    box-sizing: border-box
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 14px;
    cursor: pointer
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 120px;
    overflow-y: auto
}

#copySuccess {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    min-height: 30px;
    line-height: 1
}

#tabs {
    display: flex;
    margin-bottom: 10px
}

#tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 0;
    color: black
}

#tabs button.active {
    background: #bbb
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

table,
th,
td {
    border: 1px solid #ccc
}

th,
td {
    padding: 10px;
    text-align: left
}

th {
    background-color: #f4f4f4
}

#copyButton {
    background-color: #17a2b8;
}

#saveRegexButton {
    background-color: #28a745;
}

.edit-btn,
.delete-btn {
    padding: 5px 12px;
    cursor: pointer;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.edit-btn {
    background-color: #ffc107;
    color: #212529
}

.delete-btn {
    background-color: #dc3545;
    color: white
}

#codeHelp {
    margin-top: 1rem;
    font-size: 12px;
    text-align: right;
}